<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GPS Tracking">
    <meta name="author" content="Gulfsat Madagascar">

    <title>Position</title>
    <link href="/static/css/position.css" rel="stylesheet">
    <link href="/static/css/leaflet.css" rel="stylesheet">
    <link href="/static/font-awesome-4.1.0/css/font-awesome.css"
	  rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- Support HTML5 Shim et Respond.js sur IE8 -->
    <!-- ATTENTION: Respond.js ne marchera pas
         si vous visionnez la page via file:// -->
    <!--[if lt IE 9]>
        <script
          src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script
          src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
	<![endif]-->

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle"
		  data-toggle="collapse"
		  data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
          <a class="navbar-brand" href="{% url 'position:index' %}">Position</a>
	</div>
      </div>
    </nav>

    <div id="container">
      <div id="map"></div>
    </div>
    
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/leaflet.js"></script>
    <script type="text/javascript">
      var tracks = $.parseJSON('{{ tracks|safe }}');
      var route = tracks.features[tracks.features.length-1].geometry.coordinates;
      for (var i = 0, latlngs = [], len = route.length; i < len; i++) {latlngs.push(new L.LatLng(route[i][1], route[i][0]));}
      var path = L.polyline(latlngs);							    
      var osmLayer = L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
          MaxZoom: 23,
          subdomains:["a", "b", "c"],
          attribution: "Gulfsat Madagascar"
      });
      var map = L.map('map', {
          center: [-18.886216, 47.489114],
          zoom: 13,
          layers: [osmLayer]
      });
      map.fitBounds(L.latLngBounds(latlngs));
      map.addLayer(L.marker(latlngs[0]));
      map.addLayer(L.marker(latlngs[len - 1]));
      map.addLayer(path);
							    
    </script>
  </body>
</html>
