{% load staticfiles %}
{% extends "base.html" %}

{% block container %}
<div id="sidebar">
  <div class="sidebar-wrapper">
    <div class="panel panel-default" id="features">
      <div class="panel-heading">
        <h3 class="panel-title">Modules
	  <button type="button" class="btn btn-xs btn-default pull-right"
	    id="sidebar-hide-btn">
	    <i class="fa fa-chevron-left"></i>
	  </button>
	</h3>
      </div>
      <div class="panel-body">
        <div class="row">
	  <div class="col-xs-8 col-md-8">
	    <input type="text" class="form-control search"
	      placeholder="Rechercher un tracker" />
	  </div>
	  <div class="col-xs-4 col-md-4">
	    <button type="button" class="btn btn-primary pull-right sort"
		    data-sort="feature-name" id="sort-btn">
	      <i class="fa fa-sort"></i>&nbsp;&nbsp;Trier
	    </button>
	  </div>
	</div>
	<div class="sidebar-table">
	  <table class="table table-hover" id="feature-list">
	    <tbody class="list">
	      {% for device in devices %}
	        <tr class="feature-row" id="{{ device.imei }}">
		  <td class="feaure-id" style="display: none;">
		    {{ device.imei }}
		  </td>
		  <td class="feature-name">
		    {{ device.name }}
		  </td>
		  <td style="vertical-align: middle; color: #{{ device.color }}">
		    <i class="fa fa-chevron-right"></i>
		  </td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
{% endblock %}

<!-- formulaire de recherche de traces dans le temps -->
<div class="modal fade" id="featureModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button class="close" type="button" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title text-primary" id="feature-title"></h4>
      </div>
      <div class="modal-body" id="feature-info">
	<div class="row">
	  <form role="form" id="history" method="POST">{% csrf_token %}
	    <div class="col-sm-4">
	      <div class="form-group">
		<label>Départ</label>
		<input type="text" class="form-control" name="start" id="id_start">
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="form-group">
		<label>Arrivée</label>
		<input type="text" class="form-control" name="stop" id="id_stop">
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="form-group">
		<label>Position</label>
		<button class="btn btn-primary form-control" type="submit">Tracer</button>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="form-group">
		<input id="id_imei" type="hidden" name="imei">
	      </div>
	    </div>
	  </form>
	</div>
	<div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
      
{% block javascript %}
<script src="{% static 'js/list.min.js' %}"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/position.js' %}"></script>
{% endblock %}
